@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/font" as *;

.button {
  @include mobile-fontstyle-labels-buttons;
  border: none;
  background-color: $color-primary-blue;
  color: $color-primary-white;
  width: 100%;
  height: 4rem;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $color-secondary-brainflix-darkblue;
  }

  &__image {
    align-content: flex-start;
  }
}
