@font-face {
  font-family: "AvenirNextLTPro";
  font-weight: 400;
  src: url(../src/assets/fonts/avenirnextltpro-regular);
}

@font-face {
  font-family: "AvenirNextLTPro";
  font-weight: 700;
  src: url(../src/assets/fonts/avenirnextltpro-bold);
}
