@use "./mixins" as *;
@use "./font" as *;
@use "./breakpoints" as *;
@use "./variables" as *;

html {
  font-size: 0.625rem;
}

body {
  font-family: "Avenir";
  color: $color-primary-brainflix-black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
text,
select {
  font-family: inherit;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
ul,
p {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

h1 {
  @include mobile-fontstyle-page-header;

  @include screen-medium {
    @include desktab-fontstyle-page-header;
  }
  @include screen-large {
    @include desktab-fontstyle-page-header;
  }
}

p {
  @include mobile-fontstyle-body-copy;

  @include screen-medium {
    @include desktab-fontstyle-body-copy;
  }
  @include screen-large {
    @include desktab-fontstyle-body-copy;
  }
}

a {
  text-decoration: none;
}
