@use "./mixins" as *;
@use "./font" as *;
@use "./breakpoints" as *;
@use "./variables" as *;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
ul,
p {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
