$color-primary-brainflix-black: #323232;
$color-primary-blue: #0095ff;
$color-primary-silver: #afafaf;
$color-primary-white: #ffffff;

$color-secondary-brainflix-darkblack: #000000;
$color-secondary-brainflix-darkblue: #0065ad;
$color-secondary-mercury: #e1e1e1;
$color-secondary-alabaster: #fafafa;

$font-weight-regular: 400;
$font-weight-bold: 700;
