@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/resets";

.video-details {
  &__wrapper {
    margin: 2.4rem 1.6rem 1.6rem;

    @include screen-medium {
      margin: 3.6rem;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    padding: 1.6rem 0;
    @include divider;

    @include screen-medium {
      justify-content: space-between;
      padding-bottom: 0;
      align-items: flex-end;
    }
  }
}

.video {
  &__title {
    @include divider;
    padding-bottom: 1.6rem;

    @include screen-medium {
      border-bottom: none;
      padding-bottom: 0;
    }
  }

  &__info {
    @include screen-medium {
      display: flex;
    }
  }

  &__channel {
    @include mobile-fontstyle-subheader;
    padding-bottom: 1.6rem;

    @include screen-medium {
      @include desktab-fontstyle-subheader;
      padding-bottom: 0.8rem;
      margin-right: 2.4rem;
    }
  }

  &__date {
    color: $color-primary-silver;
  }

  &__metrics {
    margin-left: 4.8rem;

    @include screen-medium {
      display: flex;
    }
  }

  &__views {
    display: flex;
    padding-bottom: 1.6rem;

    @include screen-medium {
      padding-bottom: 0.8rem;
      margin-right: 2.4rem;
    }
  }

  &__views-icon {
    margin-right: 1.6rem;

    @include screen-medium {
      margin-right: 8px;
    }
  }

  &__views-number {
    color: $color-primary-silver;
  }

  &__likes {
    display: flex;
  }

  &__likes-icon {
    margin-right: 1.6rem;

    @include screen-medium {
      height: 2.2rem;
      object-fit: contain;
      margin-right: 8px;
    }
  }

  &__likes-number {
    color: $color-primary-silver;
  }

  &__description {
    padding-top: 1.6rem;
  }
}
