@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/resets";

.video__comments {
  margin: 0 1.6rem;

  @include screen-medium {
    margin: 0 3.6rem;
  }

  @include screen-large {
    margin: 0;
  }
}
